@import "feed-page.css";

.profile-picture-panel {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.social-network-panel {
    -fx-spacing: 10;
}

.setting-grid-pane,
.profile-pictures-panel {
    -fx-spacing: 10;
}
